.instructions {
    width: 1467px;
    max-width: 1467px;
    margin-left: 157px;
}

.instruction__block-title {
    padding-top: 130px;
    padding-bottom: 130px;
}

.instruction__block-step {
    padding-bottom: 55px;
}

.instruction__block-description {
    width: 709px;
    max-width: 709px;
}

.instruction__block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 200px;
}

.instruction__block:last-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 139px;
}

/* .instruction__block-video img {
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover;
}

.instruction__block-video  {
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
  } */

.instruction__block-video img  {
    border-radius: 20px;
    border: none;
}
  

.instruction__block-end {
    display: flex;
    justify-content: space-around;
    margin-bottom: 178px;
}

.description {
    font-size: 20px;
    line-height: 128%;
}