.show__block__main {
    display: flex;
    justify-content: space-between;
    width: 1226px;
}

.show__block__main-back {
    margin-top: 68px;
}

.show__back-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.show__block__main-video-author {
    display: flex;    
    align-items: center;
    padding-bottom: 18px;
}

.show__block__main-video-author-name {
    font-size: 28px;
    padding-left: 17px;
}

.dishPanel {
    display: flex;
    height: 470px;
    position:sticky;
    top: 20px;
    right: 193px;
    float:right;
    background-color: transparent;
    
}

.dishPanel {
    margin-top: 64px;
}

.dishPanel__spisok {
    display: flex;
    flex-direction: column;   
    justify-content: space-between;
}

.dishPanel__spisok-button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.show__block__main-video__block {
    text-align: center;
}

.show__block__main-video__block-block {
    overflow: hidden;
    border-radius: 20px;
}

.show__block__main-video__block-name {
    padding-top: 39px;
    padding-bottom: 90px;
}

.show__inf__block {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    color: white;
    width: 1197px;
}

.show__inf__Ingredients {
    display: flex;
    flex-direction: column;   
    align-items: center;
    padding-bottom: 50px;
}

.show__inf__energy {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 50px;
}

.Vline {
    margin-top: 28px;
    border-left: 3px solid rgb(255, 255, 255);
}


table {
    border-collapse: collapse;
    width: 522px;
    float: left;
  }

table, th, td {
    border-bottom: 1px solid white;
}

th, td {
    padding-top: 30px;
    text-align: left;
}

td:first-child {
    text-align: left;
}
  
td:last-child {
    text-align: right;
}

.show__inf {
    width: 1376.5px;
}

.show__inf__Ingredients__tittle {
    display: flex;
    padding-bottom: 50px;
}

.show__inf__energy__tittle {
    display: flex;
    padding-bottom: 50px;
}

.show__block__main-video-author-pic {
    cursor: pointer;
}

.dishPanel__spisok-button-active {
    display: none;
}

.ddd {
    background-color: aqua;
}

#favorite {
    transition: opacity 1s ease;
  }

  #like {
    transition: opacity 1s ease;
  }
  
/* .dishPanel__block_favorite {
    width: 550px;
    height: 559px;
    background-color: #ffffff;
    border-radius: 20px;
       
} */

/* .dishPanel__block_favorite__button {
    width: 25px;
    height: 25px;
    padding-right: 14px;
    padding-top: 25px; 
    right: 0px;
    border: none;
    background-color: #ffffff;
} */

/* #toggle {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
  } */

/* .jj {
    position: relative;
    right: 20px;
} */